<!DOCTYPE html>
<html>
    <head>
    <title>GypsyWorld</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
    <div class="container">
        <h1> Contact the gypsies </h1>
        <p>@gypsyplanet.com</p>

        
        </div>
    </body>
</html>