<!DOCTYPE html>
<html>
    <head>
    <title>GypsyWorld</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
    <div class="container">
        <h1> This is the homepage of the gypsies</h1>
        <p>Let us blow your mind</p>

        
        </div>
    </body>
</html>